<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>

<body id="page-top">

<!-- Footer -->
<footer class="sticky-footer bg-white" th:fragment="footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; <label th:text="#{index.page.title}">Stopka</label></span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</body>

</html>
